@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;500&family=Cedarville+Cursive&family=Dancing+Script:wght@400;500;600;700&family=Libre+Baskerville&family=Mynerve&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');


/* resets */

*{
    margin: 0;
    padding: 0;
    background-color: #dae2fd;
    box-sizing: border-box;
}


:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20;
    --text-primary-color: #414141;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

.header-section{
    border: 1px solid black;
    height: 602px;
}

.apps-section{
    border: 1px solid black;
    height: 602px;
    width: 200px;
}